
body {
    margin-top: 0px;
    max-width: 1100px;
    min-width: 960px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-top: 64px;
}

.main {
    flex-direction: row;
    justify-content: center;
}

form {
    gap: 38px;
}

.field label {
    margin-bottom: 7px;
}

.field-conteiner svg {
    width: 25px;
    padding-top: 15px;
    padding-left: 14px;
}

.field {
    margin-bottom: 20px;
}

.section .field input {
    width: 32.30vw;
    min-width: 300px;
    max-width: 500px;
    font-size: 16px;
    padding-left: 52px;
}

.country-postal {
    gap: 12%;
}

#countries {
    width: 15vw;
    min-width: 125px;
    max-width: 240px;
    padding-top: 19px;
    padding-bottom: 19px;
}

#postal-code {
    width: 12.5vw;
    min-width: 130px;
    max-width: 195px;
}

.check-save-fields label {
    margin-top: 3px;
    margin-left: 31px;
}

.checkbox-conteiner span svg {
    width: 25px;
    padding-top: 0px;
    padding-left: 0px;
}

.purchase-information {
    height: 475px;
    width: 35vw;
    max-width: 500px;
    min-width: 290px;
    padding: 30px;
    margin-left: calc(10% - 20px);
}

.product {
    margin-bottom: 32px;
    gap: 10%;
}

.prices {
    gap: 10px;
}

.prices .price-conteiner {
    font-size: 16px;
}

.original-price {
    font-size: 12px;
    padding-top: 7px;
}

.box-qtd {
    width: 134px;
}

.shipping {
    margin-top: 55px;
}
